  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="row justify-content-between">
       <div class="col-10">
          <app-button [title]="'Back'" [iconClass]="'fas fa-backward'"></app-button>
      </div>
      <div class="col-2">
        <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group mr-2" role="group" aria-label="First group">
                <app-button id="btnSubmit" [title]="'Save'" [type]="'submit'"  data-testid="submit-button" [inDisabled]="productForm.invalid"  [iconClass]="'fa fa-floppy-o'"></app-button>
          </div>
          &nbsp;
          <div class="btn-group" role="group" aria-label="Second group">
          <app-button [title]="'Derive'" [iconClass]="'fa fa-long-arrow-down'"></app-button>
          </div>
      </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="card">
        <div class="card-header" style="color: white;background-color: rgb(14,46,110);">
          <div class="row justify-content-between">
              <div class="col-auto mr-auto" style="font-size: 18px;">
              IDENTIFICATION
            </div>
            <div class="col-auto">
              <i class="fa fa-angle-double-up fa-2x"  aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="card-text">
            
               

  <div class="row">
    <div class="col">
      
        <div class="form-group row">
          <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm"><span style="color: red;">*</span>Institution</label>
          <div class="col-sm-6 has-validation">
            <input  name="institution" data-testid="institution" formControlName="institution" [ngClass]="{'is-invalid' : f.institution.touched && f.institution.errors?.required}" type="text"  class="form-control form-control-sm">
            <div  style="color: red;font-size: 11.3px;" *ngIf="f.institution.touched && f.institution.errors?.required">
            This field is mandatory
            </div>
          </div>
          <div class="col-sm-3">
            <input type="text" formControlName="institutionCode" class="form-control form-control-sm" [ngClass]="{'is-invalid' : f.institutionCode.touched && f.institutionCode.errors?.required}" id="colFormLabelSm">
            <div  style="color: red;font-size: 11.3px;" *ngIf="f.institutionCode.touched && f.institutionCode.errors?.required">
            This field is mandatory
            </div>
          </div>
        </div>
        <br>
        <div class="form-group row">
          <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm"><span style="color: red;">*</span>Version</label>
          <div class="col-sm-9">
            <input type="number" formControlName="version" class="form-control form-control-sm" id="colFormLabelSm" placeholder="1">
          </div>
        </div>
        <br>
        <div class="form-group row">
          <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm"><span style="color: red;">*</span>Product code</label>
          <div class="col-sm-9">
            <input type="text"  formControlName="productCode" class="form-control form-control-sm" id="colFormLabelSm" [ngClass]="{'is-invalid' : f.productCode.touched && f.productCode.errors?.required}" maxlength="6" pattern="^[a-zA-Z0-9 \'\-]+$">
            <div  style="color: red;font-size: 11.3px;" *ngIf="f.productCode.touched && f.productCode.errors?.required">
            This field is mandatory
            </div>
          </div>
        </div>
        <br>
        <div class="form-group row">
          <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Product name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" [ngClass]="{'is-invalid' : f.productName.touched && f.productName.errors?.required}"  formControlName="productName" id="colFormLabelSm">
            <div  style="color: red;font-size: 11.3px;" *ngIf="f.productName.touched && f.productName.errors?.required">
            This field is mandatory
            </div>
          </div>
        </div>
        <br>
        <div class="form-group row">
          <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Product level</label>
          <div class="col-sm-9">
            <select class="form-control form-control-sm" formControlName="productLevel" [ngClass]="{'is-invalid' : f.productLevel.touched && f.productLevel.errors?.required}">
              <option selected>Generic</option>
              <option value="1">Technical</option>
              <option value="2">Customizable</option>
              <option value="3">Marketable</option>
            </select>
            <div  style="color: red;font-size: 11.3px;" *ngIf="f.productLevel.touched && f.productLevel.errors?.required">
            This field is mandatory
            </div>
          </div>
        </div>
        <br>
        <div class="form-group row">
          <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Status</label>
          <div class="col-sm-9">
            <select class="form-control form-control-sm" formControlName="status">
              <option selected value="Deprecated">Deprecated</option>
              <option value="Maintenance">Maintenance</option>
              <option value="On going">On going</option>
              <option value="Valid">Valid</option>
              <option value="Rejected">Rejected</option>
              <option value="Suspended">Suspended</option>
              <option value="Waiting validation">Waiting validation</option>
            </select>
          </div>
        </div>
        <br>
        <div class="form-group row">
          <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Validity start date</label>
          <div class="col-sm-9">
            <input type="date" name="validityStartDate" class="form-control form-control-sm" id="colFormLabelSm" formControlName="validityStartDate">
          </div>
        </div>
        <br>
        <div class="form-group row">
          <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Description</label>
          <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" id="colFormLabelSm" formControlName="description">
          </div>
        </div>
        <br>
        <div class="form-group row">
          <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Derivation</label>
          <div class="col-sm-9">
            <select class="form-control form-control-sm" formControlName="derivation">
              <option selected>Allowed</option>
              <option value="1">Not allowed</option>
            </select>
          </div>
        </div>
      
    </div>

    <div class="col">
        <div class="form-group row">
          <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Parent institution</label>
          <div class="col-sm-6">
            <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Institution" formControlName="parentInstitution">
          </div>
          <div class="col-sm-3">
            <input type="text" class="form-control form-control-sm" id="colFormLabelSm">
          </div>
        </div>
        <br> 
        <div class="form-group row">
          <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Parent product version</label>
          <div class="col-sm-9">
            <input type="number" class="form-control form-control-sm" id="colFormLabelSm" formControlName="parentProductVersion">
          </div>
        </div>
        <br>
        <div class="form-group row">
          <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Parent product code</label>
          <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" id="colFormLabelSm" formControlName="parentProductCode">
          </div>
        </div>
        <br>
        <div class="form-group row">
          <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Parent product name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" id="colFormLabelSm" formControlName="parentProductName">
          </div>
        </div>
        <br>
        <div class="form-group row">
          <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Product type</label>
          <div class="col-sm-9">
            <select class="form-control form-control-sm" formControlName="productType">
              <option  selected value="Payment instrument">Payment instrument</option>
              <option value="Account">Account</option>
              <option value="Loan">Loan</option>
              <option value="Loyalty">Loyalty</option>
              <option value="Insurance">Insurance</option>
            </select>
          </div>
        </div>
        <br>
        <div class="form-group row">
          <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Status date</label>
          <div class="col-sm-9">
            <input type="date" class="form-control form-control-sm" id="colFormLabelSm" readonly name="statusDate" formControlName="statusDate">
          </div>
        </div>
        <br>
        <div class="form-group row">
          <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Validity end date</label>
          <div class="col-sm-9">
            <input type="date" class="form-control form-control-sm" id="colFormLabelSm" formControlName="validityEndDate">
          </div>
        </div>
        <br> 
        <div class="form-group row">
          <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Duplication</label>
          <div class="col-sm-9">
            <select class="form-control form-control-sm" formControlName="duplication">
              <option selected>Allowed</option>
              <option value="1">Not allowed</option>
            </select>
          </div>
        </div>
    </div>
  </div>


          </div>
        </div>
    </div>
  

    </div>
    </form>
